/* default css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Hind Siliguri', sans-serif;
}
.red{
color: red;
}
.top_border{
    border-top: 4px solid #000;
}
.red_border{
    border-top: 4px solid #000;
}
.text-yellow {
   color: #eac400; 
}
.bg-yellow {
   background: #eac400; 
}
.customize_hr {
    border-top: 12px solid black;
}

/* buttons */
.login-btn {
    padding: 7px 20px;
    background: transparent;
    /* font-size: 1.3rem; */
    font-weight: 600;
}

/* icons styles */
.navBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.navBtns .fa-solid {
    font-size: 30px;
    cursor: pointer;
}

/* header Section Code Start =========================

==================================================================
*/

.logo img{
    width:150px;
    height: auto;
}
.nav-right{
    display: flex;
    flex-direction: column;
}

/* category navbar */
nav.categoryNav {
    background: lightgray;
    padding: 10px;
}

nav.categoryNav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
}

/* lists items */
.square-list {
    list-style-type: none;
    padding: 0;
  }

  .square-list li {
    color: red;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 1.4rem;
    position: relative; /* Add this to make positioning easier */
  }

  .square-list li:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000;
  }

.cover-image {
    border-top: 2px solid #eac400;
}

.text-white{
    color:white
}
/* content */
.content p{
    font-size: 18px;
}
.under_border{
    position: relative;
}
.under_border::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: red;
}
video {
    max-width: 100%;
    height: auto;
  }

/* video section */
.video-section{
background:#000;
color: #eac400;
}
.heading {
    margin-left: 30px;
    margin-top: 20px;
}
.heading h4{
    font-size: 2.9rem;
}
/* footer */
.footer{
  background-color: #0f416e; 
  color: #fff; 
}
.position {
    margin-top: -18px;
}

.footer-content h4{
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
.bdr{
    border-right:3px solid #fff
}
.footer-content h5 a{
color: #fff;
text-decoration: none;
font-size: 1.2rem;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 5px;
  }

  .view {
  
    margin-bottom: 10px;
    box-shadow: 2px 4px 10px #444;
  }
.view img{
  max-height: 400px;
}
.clearf {
  overflow: hidden; 

}

.clearf img {
  float: right; /* Float the image to the right */
  margin: 0 0 20px 20px; /* Adjust margin as needed */
}
  /* Specific styles for each card */
  .card1 {
    grid-column: 1 / 4;
  }
  .card2 {
    grid-column: 4 / 7;
  }
  .card3 {
    grid-column: 7 / 10;
  }
  .card4 {
    grid-column: 10 / 13;
  }
  .card5 {
    grid-column: 1 /5 ;
  }
  .card6 {
    grid-column: 5 /8 ;
  }
  .card7 {
    grid-column: 8 /13 ;

  }
  .card8 {
    grid-column: 1 / 4;
  }
  .card9 {
    grid-column: 4 / 7;
  }
  .card10 {
    grid-column: 7 / 10;
  }
  .card11 {
    grid-column: 10 / 13;
    grid-row:3  / span 2 ;
  }
  .card12 {
    grid-column: 1 / 4;
  }
  .card13 {
    grid-column: 4 / 10;
  }
